<div [hidden]="!quizStarted">
  <div #quizComponent></div>
</div>

<div *ngIf="allQuizesComplete" fxLayout="column" fxLayoutAlign="center center">
  <br><br>
  <h2>Welcome, {{user.name}}</h2>
  <h3>You have finished all available quizes</h3><br>
  <h3>If you would like to reset your score and start over, click Resest below</h3><br>
  <button mat-raised-button class="submitBtn" (click)="resetUser()">Reset</button>
</div>
<div [hidden]="allQuizesComplete">
<div *ngIf="!quizStarted && !quizFinished" fxLayout="column" fxLayoutAlign="center center">
  <br><br>
  <h2>Welcome, {{user.name}}</h2>
  <h3> Once you select "Begin" you will have 10 seconds to answer each of the 5 questions</h3><br>
  <button mat-raised-button class="submitBtn" (click)="startQuiz()">Begin</button>
</div>

<mat-card *ngIf="quizStarted && !quizFinished" class="quiz-card" fxLayout="column" fxLayoutAlign="center center">
  <mat-card-header>
    <div mat-card-avatar class="quiz-header"></div>
    <h2>Question {{questionCounter}}</h2>
  </mat-card-header>

  <mat-spinner *ngIf="submitted" class="mat-spinner-color"></mat-spinner>
  <br>

  <div [hidden]="submitted">
  <mat-card-content>
  <span [hidden]="showQuestion !== 1" #question1>
    <strong>{{quiz.questions[0].question}}</strong>
    <mat-radio-group [disabled]="submitted"  [(ngModel)]="userSelection">
      <div *ngFor="let option1 of quiz.questions[0].options">
      <mat-radio-button value="{{option1}}">
      {{option1}}
      </mat-radio-button>
      </div>
    </mat-radio-group>
  </span>

  <span [hidden]="showQuestion !== 2" #question2>
    <strong>{{quiz.questions[1].question}}</strong>
    <mat-radio-group [disabled]="submitted"  [(ngModel)]="userSelection">
      <div *ngFor="let option2 of quiz.questions[1].options">
      <mat-radio-button value="{{option2}}">
      {{option2}}
      </mat-radio-button>
      </div>
    </mat-radio-group>
  </span>

  <span [hidden]="showQuestion !== 3" #question3>
    <strong>{{quiz.questions[2].question}}</strong>
    <mat-radio-group [disabled]="submitted"  [(ngModel)]="userSelection">
      <div *ngFor="let option3 of quiz.questions[2].options">
      <mat-radio-button value="{{option3}}">
      {{option3}}
      </mat-radio-button>
      </div>
    </mat-radio-group>
  </span>

  <span [hidden]="showQuestion !== 4" #question4>
    <strong>{{quiz.questions[3].question}}</strong>
    <mat-radio-group [disabled]="submitted" [(ngModel)]="userSelection">
      <div *ngFor="let option4 of quiz.questions[3].options">
      <mat-radio-button value="{{option4}}">
      {{option4}}
      </mat-radio-button>
      </div>
    </mat-radio-group>
  </span>

  <span [hidden]="showQuestion !== 5" #question5>
    {{quiz.questions[4].question}}
    <mat-radio-group [disabled]="submitted" [(ngModel)]="userSelection">
      <div *ngFor="let option5 of quiz.questions[4].options">
      <mat-radio-button value="{{option5}}">
      {{option5}}
      </mat-radio-button>
      </div>
    </mat-radio-group>
  </span>
  </mat-card-content>
  </div>
  <button *ngIf="!submitted && !quizFinished" mat-raised-button class="submitBtn" (click)="submit(showQuestion)">Submit</button>
  <span *ngIf="!submitted" #timer>Time Remaining: {{counter$[showQuestion] | async}}</span>
</mat-card>
</div>
