<mat-nav-list class="sidenav">
  <a mat-list-item routerLink="/welcome" (click)="onToggleHide()">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onToggleHide()">
    <mat-icon>input</mat-icon>
    <span>Log in</span>
  </a>
  <a mat-list-item routerLink="/register" (click)="onToggleHide()">
    <mat-icon>account_circle</mat-icon>
    <span>Register</span>
  </a>
  <a mat-list-item routerLink="/quiz" (click)="onToggleHide()">
    <mat-icon>assignment</mat-icon>
    <span>Quiz</span>
  </a>
  <a mat-list-item (click)="logout()">
    <mat-icon>error_outline</mat-icon>
    <span>Logout</span>
  </a>
</mat-nav-list>
