<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <div class="welcome-header">
    <span *ngIf="user.name">
    Welcome {{user.name}}
    </span>
  </div>
  <br>
  <div class="welcome-score">
    <span *ngIf="user.score">
    Your current score is {{user.score}}
    </span><span *ngIf="!user.score">
    Your current score is 0
    </span>
  </div>
  <br>
    <button mat-raised-button id="startQuizBtn" routerLink="/quiz" routerLinkActive="active" >Start Quiz</button>
</div>
